.menu
  ul.nav.nav-pills.menu-line
    li(class=(menu === 'index')?'active':'')
      a(href='/') Home
    li(class=(menu === 'login')?'active':'')
      a(href='/login') Log in
    li(class=(menu === 'signup')?'active':'')
      a(href='/signup') Sign up